
*{
    font-family: 'Poppins' , 'san-serif';
}

h1, h2, h3,h4 , .h1, .h2 , .h3{
        font-family:'Amatic SC' , 'cursive';
}

:root{
    --purple: #430d4b; 
    --purpleC: #7b337d; 
    --rosa: #c874b2; 
    --rosaC: #e1d6e7;
    --clr-neon:hsl(317 100%  54%);
    --clr-bg:hsl(323 21% 16%) ;
}

.bg-purple {
    background-color: var(--purple);
}
.text-purple{
    color: var(--purple);
}

.bg-purpleC{
    background-color: var(--purpleC);
}
.text-purpleC{
    color: var(--purpleC);   
}


.bg-rosa{
    background-color: var(--rosa);
}
.text-rosa{
    color:var(--rosa);
}


.bg-rosaC{
    background-color: var(--rosaC);
}
.text-rosaC{
    color: var(--rosaC);
}
.bg-grandient{
    background:linear-gradient(to bottom, #7b337d,#e1d6e7 ) ;
}
.bg-grandient-vertical{
    background:linear-gradient(to top, #7b337d,#e1d6e7 ) ;
}
.nav-link{
    color: var(--purpleC);
}
@media screen and (max-width : 800px) {
    .navbar-toggler{ border-color: var(--purple);
               color:var(--purple); 
               border-width: 2px;
               display: flex;
               justify-content: center;
               align-items: center;
               padding-inline-end: 2px;
               
    }
}




@media screen and (max-width:1000px){

    .nabar-toggler{
        border-color: var(--purple);
               color:var(--purple); 
               border-width: 2px;
               display: flex;
               justify-content: center;
               align-items: center;
               padding-inline-end: 2px;
               width: 70px;
               height: 50px ;
            }
}

.navbar-toggler{
    width: 70px;
    height: 50px ;
}

.vh-lg-100{
    height:calc(100vh - 80px) ;
    
}
@media screen and (max-width :800px){
    .vh-lg-100{
        height: 50vh;
    }
}
.mt-30px{
    margin-top: 30px;
}
.b-bottom{
    height: 5px;
    width: 50%;
    background-color:var(--purpleC);
    border-radius: 5px;
    position:relative;
}

.b-bottom::after{
    content: '';
    height: 23px;
    width: 23px;
    background-color: var(--rosaC);
    border-radius: 50%;
    border:2px solid var(--purpleC);
    position:absolute;
    top: -11px;
    left:calc(50% - 12px);
}
.border-purple{
    border : 3px  solid var(--purpleC);
}

.b-right{
    border-right:2px solid var(--purpleC)
}

.b-left{
    border-left:2px solid var(--purpleC)
}

.h-100-custom{
    height:100px;
}

.boxicon{
    box-shadow: 2px 2px 5px 2px var(--purpleC);
}

.circle-right{
    position: relative;
}

.circle-right::after{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:var(--rosa);
    top: calc(50% - 10px);
    border: 2px solid var(--purpleC);
    position: absolute;
    margin-left: 7px;
    margin-top:5px;

}

.circle-left{
    position:relative;
}

.circle-left::before{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:var(--rosa);
    top: calc(50% - 10px);
    border: 2px solid var(--purpleC);
    position: absolute;
   right:94px;
    margin-top :5px; 
}

.bp-right{
    border-right: 2px solid var(--purple)
}

@media screen and (max-width: 800px){
    .bp-right{
        border-bottom: 2px solid var(--purple);
        border-right:none;
    }
.footer-row{
    flex-direction: row;
    
}
}

.button{width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.neon-button {
    padding:auto;
margin:auto;
    cursor:pointer;
    font-size: 4rem;
  background-color: purple;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
.container-carosello{
    
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    align-items: center;
}

.container-footer{
    border:solid 2px; 
    border-radius: 2%;
    border-color: green;

}
